body {
    margin: 0;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    text-decoration-color: black;
    background-color: floralwhite;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400px;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

  .logo {
    z-index: 28;
    position: absolute;
    margin: 0 auto;
    margin-top: 32px;
    width: 100%;
    text-align: center;
  }

  .main-nav {
    top: 0px;
    left: 0px;
    margin: 0;
    width: 10px;
    text-decoration: none;
    position: relative;
    font-size: 24px;
    z-index: 29;
  }

  a:link, a:visited, a:active {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    color: black;
    background-color: none;
    transition: color 0.2s;
    display: inline-block;
  }

  a:hover {
    color: #678fd6
  }

  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    width: 400px;
    height: 550px;
    flex-grow: 1;
  
    background-size: cover;
    background-position: center;
  
    text-align: center;
  }
  
  .overlay {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .project h3 {
    margin: 0;
    transform: translateY(-10px);
    transition: transform 0.3s ease-out;
  }