body {
    margin: 0;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    text-decoration-color: black;
    background-color: floralwhite;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400px;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

p {
  margin: 10px;
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  font-size: 1.5em;
}

  .logo {
    z-index: 28;
    position: fixed;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .main-nav {
    width: 10px;
    text-decoration: none;
    position: relative;
    font-size: 24px;
    z-index: 29;
    list-style-type: none;
  }

  a:link, a:visited, a:active {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    color: black;
    background-color: none;
    transition: color 0.2s;
    display: inline-block;
  }

  a:hover {
    color: #678fd6
  }

  div.main-nav.selected a {
    color: #678fd6
  }
/* ------------------------- home page content ------------------------- */
.home-bgimg1 {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-content: center center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  top: 0;
  z-index: 1;
  margin-top: 0px;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block;
  transform: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  display: block;
  max-width: 100%;
  height: auto;
}